# Virtual environments
venv/
.venv/
env/
ENV/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Databases & Storage
*.db
*.sqlite
backend/qdrant_storage/

# Sensitive Data & Resumes
backend/uploaded_resumes/
backend/RejectedDS/
backend/ShortlistedDS/
backend/parsed_resumes.json
backend/parsed_resumes.txt
backend/chat_history.json